@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 11%;
    --foreground: 0, 0%, 100%;
    --card: 0, 0%, 11%;
    --card-foreground: 0, 0%, 100%;
    --popover: 0, 0%, 11%;
    --popover-foreground: 0, 0%, 100%;
    --primary: 46, 82%, 71%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 0, 0%, 18%;
    --secondary-foreground: 0, 0%, 100%;
    --muted: 0, 0%, 54%;
    --muted-foreground: 0, 0%, 100%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0, 0%, 93%;
    --input: 0, 0%, 54%;
    --ring: 46, 82%, 71%;
  }

  .dark:root {
    --background: 0, 0%, 11%;
    --foreground: 0, 0%, 100%;
    --card: 0, 0%, 11%;
    --card-foreground: 0, 0%, 100%;
    --popover: 0, 0%, 11%;
    --popover-foreground: 0, 0%, 100%;
    --primary: 46, 82%, 71%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 0, 0%, 18%;
    --secondary-foreground: 0, 0%, 100%;
    --muted: 0, 0%, 54%;
    --muted-foreground: 0, 0%, 100%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0, 0%, 93%;
    --input: 0, 0%, 54%;
    --ring: 46, 82%, 71%;
  }
}
